<main class="px-3">
  <p class="lead">
    Highlight App is an app to store your highlights from books, articles, etc.
    <br>
    <br>
      <%= link_to "Learn More", features_path, class: "btn btn-lg btn-secondary fw-bold border-white bg-white"%>
  </p>
</main>
